{% extends 'partials/base.html' %}
{% block title %}Products Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'partials/topnav.html' %}

<div class="row my-4">
    <div class="col-md-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="card card-body">
            <h5>Add New Asset</h5>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
               
                <input class="btn btn-success btn-block" type="submit" value="Add">
            </form>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                  
                    <th scope="col">Category</th>
                    <th scope="col">QTY</th>
                   
                </tr>
            </thead>
            <tbody>
               
                {% for product in items %}
                <tr>
                    <td>{{ product.category}}</td>
                    <td>{{ product.count }}</td>
                    
                   
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}