{% extends 'partials/base.html' %}

{% block title %}Login Page {% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row my-4">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-info text-white">
                Staff Detail Page
            </div>
            <div class="row p-3">
                <div class="col-md-8">
                    <table class="table table-borderless">
                        <thead>
                            <span class="h4">Profile Information</span class="h4">
                            <a class="btn btn-info btn-sm float-right" href="{% url 'user-profile-update' %}">Edit</a>
                            <hr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Firstname</th>
                                <td>{{ user.first_name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Lastname</th>
                                <td>{{ user.last_name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Email</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Phone</th>
                                <td>{{ user.profile.phone }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Department</th>
                                <td>{{ user.profile.dept }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <img class="img-thumbnail" src="{{user.profile.image.url}}" alt="profile-image">
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}